{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-white">
    <h2 class="p-3 text-dark "> Main page</h2>
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Ведётся разработка...</h1>
      <p class="lead fw-normal">В целях безопасности не отключайтесь. Постарайтесь выдержать ожидание полностью до момента, пока разработка не завершится.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{% endblock %}